@using Domain
@model IEnumerable<BlogPost>

@{
    var culture = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
    ViewData["Title"] = culture == "fa" ? "بلاگ" : "Blog!";
}

<div class="space-y-6">
    @foreach (var post in Model)
    {
        <div class="bg-white p-4 rounded shadow">
            <h2 class="text-xl font-bold">
                <a asp-action="Details" asp-route-id="@post.BlogPostId">
                    @(culture == "fa" ? post.TitleFa : post.TitleEn)
                </a>
            </h2>
            <p class="text-gray-600">@post.PublishedAt.ToShortDateString()</p>
        </div>
    }
</div>